body {
	font-family: 'Merriweather', serif;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
}

.quotemark {
	font-size: xx-large;
}

#rightquote {
	text-align: right;
}

#quote {
	margin-left: 10%;
	margin-right: 10%;
}

div.buttons {
    display: flex;
    justify-content: space-between;
}

button {
	width: 24%;
	height: 5em;
	font-size: x-large;
	font-family: 'Merriweather', serif;
	background-color: gray;
	border-radius: 0.5em;
	border: none;
  	color: white;
  	transition: color 0.3s;
}

button:hover {
  	filter: brightness(150%);
}

.correct {
	animation: correctanim linear 2s;
}

.incorrect {
	animation: incorrectanim linear 2s;
}

.invisible {
	opacity: 0;
}

@keyframes correctanim {
	0% {background-color: gray;}
	50% {background-color: green;} 
	100% {background-color: gray;}
}

@keyframes incorrectanim {
	0% {background-color: gray;}
	50% {background-color: red;} 
	100% {background-color: gray;}
}
