body {
	font-family: 'Merriweather', serif;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
}

blockquote {
	font-size: x-large;
}

div {
	font-size: xx-large;
}

div.rightquote {
	text-align: right;
}

div.buttons {
    display: flex;
    justify-content: space-between;
}

button {
	width: 24%;
	height: 5em;
	font-size: x-large;
	font-family: 'Merriweather', serif;
	background-color: gray;
	border-radius: 0.5em;
	border: none;
  	color: white;
}

button:hover {
  	background-color: #AAAAAA;
  	color: #333333;
}